<%- include('./partials/header') -%>
<% if (locals.user) { %>
<main class="notBootstrap">
    <div class="contain">
        <%- include('./partials/messages') -%>
        <h2>Search Product</h2>
        <form action="/searchProduct" method="get">
            <input type="text" class="input" name="findCode" placeholder="Product Code">
            <button class="formButton" type="submit">Search in Database</button>
        </form>
    </div>
    <% if(searchResults){ %> 
    <div class="container mt-5">
        <table class="table  table-bordered" width="100%" cellspacing="0">
            <thead>
                <th>Code</th>
                <th>Description</th>
                <th>Price</th>
            </thead>
            <tbody>
                <tr>
                    <td><%= searchResults.code %> </td>
                    <td><%= searchResults.description %> </td>
                    <td><%= searchResults.price %> </td>
                </tr>
            </tbody>
        </table>
    </div>
    <% } %> 
</main>
<% } %>
<%- include('./partials/footer') -%>